/*-------------------Elements----------------*/

html {
    background: #b0cbb1;
    /*background-image: linear-gradient(#d9e8dc , #a2c7a2 , #b0cbb1 );*/
    -webkit-font-smoothing: antialiased;
    display: table;
    margin: 0 auto;
}

body {
    background: #d9e8dc;
    box-shadow: 0 0 300px #a2c7a2;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    display: table-cell;
    vertical-align: middle;
    max-width: 1000px;
    padding: 1em .3em 4em;
}

html,
body {
    height: 100%;
}

a {
    color: cadetblue;
    text-decoration: none;

}

a:hover {
    color: forestgreen;
    text-decoration: underline;

}

img {
    border: 2px solid #b0cbb1;
    border-radius: 2px;
    display: block;
    margin: 1em auto;
    max-width: 50%;
}

@media only screen and (max-width: 600px){
    .img{
    border: 2px solid #b0cbb1;
    border-radius: 2px;
    display: block;
    max-width: 100%;    
    }
}
dt {
    font-size: 1.1em;
    font-weight: 700;
    text-decoration: none;
    padding: .5em 1em .2em 1em
}

dd {
    font-style: italic;
    font-size: 1em;
    text-decoration: none;

}




/*-----------------ID's-------------------------*/

#name {
    margin-top: 10%;
}


#name h1 {
    font-size: 2.5em;
    font-weight: 700;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    margin-top: -10px;
    margin-bottom: -50px;
    color: #b0cbb1;
}

#name h2 {
    font-size: 2em;
    margin-left: 2px;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    color: #d9e8dc;
}

/*----------------------------------Flexcontainerhead-name-@media---------------------*/
@media only screen and (max-width: 600px) {
    #name {
        margin-top: 10%;
        text-align: center;
    }

    #name h1 {
        font-size: 2.5em;
        font-weight: 700;
        font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
        color: #b0cbb1;
    }

    #name h2 {
        font-size: 2em;
        font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
        color: #d9e8dc;
    }
}


#contactDetails {
    margin-top: 10%;
    text-align: center;
}

#contactDetails ul {
    list-style-type: none;
    font-size: 1em;
}

#contactDetails ul li {

    color: #a2c7a2;
}

#contactDetails a {
    color: #d9e8dc;
    text-decoration: none;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

#contactDetails ul li a:hover {
    color: forestgreen;
}

/*----------------------------------Flexcontainerhead-contact details-@media---------------------*/
@media only screen and (max-width: 600px) {
    #contactDetails {
        margin-top: 10%;

    }

    #contactDetails ul {
        list-style-type: none;
        font-size: 1em;
        margin-top: 2px;
    }

    #contactDetails ul li {
        margin-bottom: 3px;
        color: #a2c7a2;
    }

    #contactDetails a {
        color: #d9e8dc;
        text-decoration: none;
        -webkit-transition: all .3s ease-in;
        -moz-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        -ms-transition: all .3s ease-in;
        transition: all .3s ease-in;
    }

    #contactDetails ul li a:hover {
        color: forestgreen;
    }
}

/*----------------Class's--------------*/

.img-round {
    max-width: 60%;
    border: none;

}

.flex-containerhead {
    display: flex;
    background-color: black;
    border-left: 2px solid #b0cbb1;
    border-right: 2px solid #b0cbb1;
}

/*----------------------------------Flexcontainerhead-@media----------------------*/
@media only screen and (max-width: 600px) {
    .flex-containerhead {
        display: block;
        background-color: black;
        border-left: 2px solid #b0cbb1;
        border-right: 2px solid #b0cbb1;
        padding-bottom: 10px;
    }
}




/*--------------flextcontainer2---------------------------*/

.flex-container2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-top: 2px solid #b0cbb1;

}

.sectionTitle2 {
    width: 30%;
    color: black;
    margin-left: 2em;

}

.sectionContent2 {
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    margin-bottom: .5em;
    width: 70%;
    color: black;
    margin-right: 1em;
    border-left: 1px solid #b0cbb1;
    padding-left: 1em;
    text-align: left;
}

.sectionTitle2 h1 {
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 2em;

}


.sectionContent2 h2 {
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: left;

}




/*----------------------------------Flexcontainer2-@media----------------------*/
@media only screen and (max-width: 600px) {
    .flex-container2 {
        display: block;
       border-top: 2px solid #b0cbb1;
        
    }

    .sectionTitle2 {
        color: black;
        margin-left: auto;
        margin-right: auto;
    }

    .sectionContent2 {
        font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
        font-size: 0.8em;
        border-top: 1px solid #b0cbb1;
        border-left: none;
        color: black;
        margin-left: auto;
        margin-right: auto;

    }

    .sectionTitle2 h1 {
        font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
        font-style: italic;
        font-size: 2em;
        text-align: center;

    }


    .sectionContent2 h2 {
        font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
        font-size: 1.5em;
        text-align: center;

    }
}

/*__________flexcontainer3----------------------------*/

.flex-container3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-top: 2px solid #b0cbb1;
    background-color: black;

}

.sectionTitle3 {
    width: 30%;
    color: #b0cbb1;
    margin-left: 2em;
}

.sectionContent3 {
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    margin-bottom: .5em;
    width: 70%;
    color: #d9e8dc;
    margin-right: 1em;
    border-left: 1px solid #b0cbb1;
    padding-left: 1em;
    text-align: left;
}

.sectionTitle3 h1 {
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 2em;

}

.sectionContent3 h2 {
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: left;
}

/*----------------------------------Flexcontainer3-@media----------------------*/

@media only screen and (max-width: 600px) {
    .flex-container3 {
        display: block;
       border-top: 2px solid #b0cbb1;
        background-color: black;
        padding-bottom: 10px;
        
    }

    .sectionTitle3 {        
        color: #b0cbb1;
        margin-left: auto;
        margin-right: auto;
       
    }

    .sectionContent3 {
        font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
        font-size: 0.8em;
        border-top: 1px solid #b0cbb1;
        border-left: none;
        color: #d9e8dc;
        margin-left: auto;
        margin-right: auto;
    }
    
  
    .sectionTitle3 h1 {
        font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
        font-style: italic;
        font-size: 2em;
        text-align: center;
    }

    .sectionContent3 h2 {
        font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
        font-size: 1.5em;
        text-align: center;
    }


}
