/*-------------------Elements----------------*/

html {
    background: #b0cbb1;
    /*background-image: linear-gradient(#d9e8dc , #a2c7a2 , #b0cbb1 );*/
    -webkit-font-smoothing: antialiased;
}

body {
    background: #d9e8dc;
    box-shadow: 0 0 300px #a2c7a2;
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1000px;
    padding: 1em .3em 4em;
}

h1,h2,
 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}
img {    
    border: 6px ridge #b0cbb1;
    border-radius: 5px;
    display: block;
    margin: 1em auto;
    max-width: 50%;
    
}

section {
	border-top: 2px solid #b0cbb1;	
}

/*-----------------ID's-------------------------*/

#name {	
    margin-top: 10%;          
}


#name h1 {
	font-size: 2.5em;
	font-weight: 700;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	margin-top:-10px;
    margin-bottom: -50px;
    color: #b0cbb1;
}

#name h2 {
	font-size: 2em;
	margin-left: 2px;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    color: #d9e8dc;
}

#contactDetails {	
    margin-top: 10%;
}

#contactDetails ul {
	list-style-type: none;
	font-size: 1.5em;
	margin-top: 2px;
}

#contactDetails ul li {
	margin-bottom: 3px;
	color: #a2c7a2;
}

#contactDetails a {
	color: #d9e8dc; 
	text-decoration: none;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

#contactDetails ul li a:hover { 
	color: #A9fe99;
}

/*----------------Class's--------------*/

.img-round {         
    max-width: 60%;
    border:none;
}

.flex-container {
  display: flex;  
  background-color: black;
    border-top: 2px solid #b0cbb1;
    border-left: 2px solid #b0cbb1;
    border-right: 2px solid #b0cbb1;    
}

